# Covid 19 Tracker

So we have the following site that we may collect data from
Google Sheets in CSV
Sheet Name	Link to CSV
- raw_data	https://api.covid19india.org/csv/latest/raw_data.csv 
- death_and_recovered	https://api.covid19india.org/csv/latest/death_and_recovered.csv
- state_wise	https://api.covid19india.org/csv/latest/state_wise.csv
- state_wise_daily	https://api.covid19india.org/csv/latest/state_wise_daily.csv
- sources_list	https://api.covid19india.org/csv/latest/sources_list.csv
- statewise_tested_numbers_data	https://api.covid19india.org/csv/latest/statewise_tested_numbers_data.csv
- case_time_series	https://api.covid19india.org/csv/latest/case_time_series.csv
- tested_numbers_icmr_data	https://api.covid19india.org/csv/latest/tested_numbers_icmr_data.csv
- travel_history	https://api.covid19india.org/csv/latest/travel_history.csv

In [1]:
import pandas as pd
import io
import requests
#death_and_recovered = pd.read_csv('https://api.covid19india.org/csv/latest/death_and_recovered.csv')ests

def get_data(url):
    s=requests.get(url).content
    return pd.read_csv(io.StringIO(s.decode('utf-8')))

In [96]:
raw_data= get_data('https://api.covid19india.org/csv/latest/raw_data.csv')
#death_and_recovered = pd.read_csv('https://api.covid19india.org/csv/latest/death_and_recovered.csv')
state_wise = get_data("https://api.covid19india.org/csv/latest/state_wise.csv")
state_wise_daily = get_data("https://api.covid19india.org/csv/latest/state_wise_daily.csv")
statewise_tested_numbers_data=get_data('https://api.covid19india.org/csv/latest/statewise_tested_numbers_data.csv')
case_time_series = get_data('https://api.covid19india.org/csv/latest/case_time_series.csv')
tested_numbers_icmr_data = get_data('https://api.covid19india.org/csv/latest/tested_numbers_icmr_data.csv')

In [100]:
state_wise=state_wise[['State','Confirmed','Recovered','Deaths','Active','State_code']]

In [116]:
raw_data.Gender.value_counts().values[0]

3547

In [114]:
statewise_tested_numbers_data.tail()

,Updated On,State,Total Tested,Positive,Negative,Unconfirmed,Total People In Quarantine,Total People Released From Quarantine,Num Isolation Beds,Num ICU Beds,Num Ventilators,Num Calls State Helpline,Source,Source2,Test positivity rate,Tests per thousand,Tests per million,Population (Source: UIDAI),1000,1000000
569,23/04/2020,West Bengal,7990.0,456.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40605.0,https://www.wbhealth.gov.in/uploaded_files/cor...,https://www.mohfw.gov.in/,5.71%,NaN,NaN,NaN,NaN,NaN
570,24/04/2020,West Bengal,8933.0,514.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41724.0,https://www.wbhealth.gov.in/uploaded_files/cor...,https://www.mohfw.gov.in/,5.75%,NaN,NaN,NaN,NaN,NaN
571,25/04/2020,West Bengal,9880.0,571.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42858.0,https://www.wbhealth.gov.in/uploaded_files/cor...,https://www.mohfw.gov.in/,5.78%,NaN,NaN,NaN,NaN,NaN
572,26/04/2020,West Bengal,10893.0,611.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43892.0,https://www.wbhealth.gov.in/uploaded_files/cor...,https://www.mohfw.gov.in/,5.61%,NaN,NaN,NaN,NaN,NaN
573,27/04/2020,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
world_cases = get_data("https://covid.ourworldindata.org/data/owid-covid-data.csv")

In [3]:
world_cases.head()

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
0,ABW,Aruba,2020-03-13,2,2,0,0,18.733,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,2020-03-20,4,2,0,0,37.465,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,2020-03-24,12,8,0,0,112.395,74.930,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,2020-03-25,17,5,0,0,159.227,46.831,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,2020-03-26,19,2,0,0,177.959,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [4]:
world_data=world_cases[world_cases['location']=="World"]

In [25]:
world_today=world_data[world_data['date']=="2020-04-26"]

In [7]:
world_today = world_data.tail(1)
total_cases=world_today['total_cases']
deaths=world_today['total_deaths']
active_cases=total_cases-deaths
new_today=world_today['new_cases']
new_deaths = world_today['new_deaths']
data = {"Total":total_cases ,"Deaths":deaths,"Active":active_cases,"New":new_today,"new_deaths":new_deaths}

In [33]:
world_today.reset_index(drop=True)

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
13402,NaN,World,2020-04-26,2844712,99968,201315,5929,364.95,12.825,25.827,0.761,NaN,NaN,NaN,NaN,NaN

In [37]:
world_data

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
13285,NaN,World,2019-12-31,27,27,0,0,0.003,0.003,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13286,NaN,World,2020-01-01,27,0,0,0,0.003,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13287,NaN,World,2020-01-02,27,0,0,0,0.003,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13288,NaN,World,2020-01-03,44,17,0,0,0.006,0.002,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13289,NaN,World,2020-01-04,44,0,0,0,0.006,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13290,NaN,World,2020-01-05,59,15,0,0,0.008,0.002,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13291,NaN,World,2020-01-06,59,0,0,0,0.008,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13292,NaN,World,2020-01-07,59,0,0,0,0.008,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13293,NaN,World,2020-01-08,59,0,0,0,0.008,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13294,NaN,World,2020-01-09,59,0,0,0,0.008,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13295,NaN,World,2020-01-10,59,0,0,0,0.008,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13296,NaN,World,2020-01-11,59,0,1,1,0.008,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13297,NaN,World,2020-01-12,59,0,1,0,0.008,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13298,NaN,World,2020-01-13,60,1,1,0,0.008,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13299,NaN,World,2020-01-14,60,0,1,0,0.008,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13300,NaN,World,2020-01-15,61,1,2,1,0.008,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13301,NaN,World,2020-01-16,61,0,2,0,0.008,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13302,NaN,World,2020-01-17,66,5,2,0,0.008,0.001,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13303,NaN,World,2020-01-18,83,17,2,0,0.011,0.002,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13304,NaN,World,2020-01-19,219,136,3,1,0.028,0.017,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13305,NaN,World,2020-01-20,239,20,3,0,0.031,0.003,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13306,NaN,World,2020-01-21,392,153,6,3,0.050,0.020,0.001,0.000,NaN,NaN,NaN,NaN,NaN
13307,NaN,World,2020-01-22,534,142,17,11,0.069,0.018,0.002,0.001,NaN,NaN,NaN,NaN,NaN
13308,NaN,World,2020-01-23,631,97,17,0,0.081,0.012,0.002,0.000,NaN,NaN,NaN,NaN,NaN
13309,NaN,World,2020-01-24,897,266,26,9,0.115,0.034,0.003,0.001,NaN,NaN,NaN,NaN,NaN
13310,NaN,World,2020-01-25,1350,453,41,15,0.173,0.058,0.005,0.002,NaN,NaN,NaN,NaN,NaN
13311,NaN,World,2020-01-26,2023,673,56,15,0.260,0.086,0.007,0.002,NaN,NaN,NaN,NaN,NaN
13312,NaN,World,2020-01-27,2820,797,81,25,0.362,0.102,0.010,0.003,NaN,NaN,NaN,NaN,NaN
13313,NaN,World,2020-01-28,4587,1767,106,25,0.588,0.227,0.014,0.003,NaN,NaN,NaN,NaN,NaN
13314,NaN,World,2020-01-29,6067,1480,132,26,0.778,0.190,0.017,0.003,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13373,NaN,World,2020-03-28,591796,63957,26993,3319,75.922,8.205,3.463,0.426,NaN,NaN,NaN,NaN,NaN
13374,NaN,World,2020-03-29,656834,65038,30452,3459,84.266,8.344,3.907,0.444,NaN,NaN,NaN,NaN,NaN
13375,NaN,World,2020-03-30,715377,58543,33576,3124,91.776,7.511,4.307,0.401,NaN,NaN,NaN,NaN,NaN
13376,NaN,World,2020-03-31,777187,61810,37276,3700,99.706,7.930,4.782,0.475,NaN,NaN,NaN,NaN,NaN
13377,NaN,World,2020-04-01,851587,74400,41904,4628,109.251,9.545,5.376,0.594,NaN,NaN,NaN,NaN,NaN
13378,NaN,World,2020-04-02,928491,76904,46884,4980,119.117,9.866,6.015,0.639,NaN,NaN,NaN,NaN,NaN
13379,NaN,World,2020-04-03,1006063,77572,51577,4693,129.069,9.952,6.617,0.602,NaN,NaN,NaN,NaN,NaN
13380,NaN,World,2020-04-04,1087822,81759,58180,6603,139.557,10.489,7.464,0.847,NaN,NaN,NaN,NaN,NaN
13381,NaN,World,2020-04-05,1174306,86484,64273,6093,150.653,11.095,8.246,0.782,NaN,NaN,NaN,NaN,NaN
13382,NaN,World,2020-04-06,1245601,71295,68928,4655,159.799,9.146,8.843,0.597,NaN,NaN,NaN,NaN,NaN
13383,NaN,World,2020-04-07,1316988,71387,74065,5137,168.957,9.158,9.502,0.659,NaN,NaN,NaN,NaN,NaN
13384,NaN,World,2020-04-08,1391881,74893,81476,7411,178.565,9.608,10.453,0.951,NaN,NaN,NaN,NaN,NaN
13385,NaN,World,2020-04-09,1476792,84911,87816,6340,189.459,10.893,11.266,0.813,NaN,NaN,NaN,NaN,NaN
13386,NaN,World,2020-04-10,1563819,87027,95039,7223,200.623,11.165,12.193,0.927,NaN,NaN,NaN,NaN,NaN
13387,NaN,World,2020-04-11,1653160,89341,102088,7049,212.085,11.462,13.097,0.904,NaN,NaN,NaN,NaN,NaN
13388,NaN,World,2020-04-12,1734868,81708,108192,6104,222.567,10.482,13.880,0.783,NaN,NaN,NaN,NaN,NaN
13389,NaN,World,2020-04-13,1807256,72388,113513,5321,231.854,9.287,14.563,0.683,NaN,NaN,NaN,NaN,NaN
13390,NaN,World,2020-04-14,1873639,66383,118857,5344,240.370,8.516,15.248,0.686,NaN,NaN,NaN,NaN,NaN
13391,NaN,World,2020-04-15,1948863,75224,125975,7118,250.021,9.651,16.161,0.913,NaN,NaN,NaN,NaN,NaN
13392,NaN,World,2020-04-16,2029874,81011,136320,10345,260.414,10.393,17.489,1.327,NaN,NaN,NaN,NaN,NaN
13393,NaN,World,2020-04-17,2114209,84335,144827,8507,271.233,10.819,18.580,1.091,NaN,NaN,NaN,NaN,NaN
13394,NaN,World,2020-04-18,2197520,83311,153090,8263,281.921,10.688,19.640,1.060,NaN,NaN,NaN,NaN,NaN
13395,NaN,World,2020-04-19,2281632,84112,159511,6421,292.712,10.791,20.464,0.824,NaN,NaN,NaN,NaN,NaN
13396,NaN,World,2020-04-20,2355774,74142,164656,5145,302.224,9.512,21.124,0.660,NaN,NaN,NaN,NaN,NaN
13397,NaN,World,2020-04-21,2433048,77274,169851,5195,312.137,9.914,21.790,0.666,NaN,NaN,NaN,NaN,NaN
13398,NaN,World,2020-04-22,2520435,87387,176786,6935,323.348,11.211,22.680,0.890,NaN,NaN,NaN,NaN,NaN
13399,NaN,World,2020-04-23,2588064,67629,182808,6022,332.024,8.676,23.453,0.773,NaN,NaN,NaN,NaN,NaN
13400,NaN,World,2020-04-24,2668137,80073,190236,7428,342.297,10.273,24.406,0.953,NaN,NaN,NaN,NaN,NaN
13401,NaN,World,2020-04-25,2744744,76607,195386,5150,352.125,9.828,25.066,0.661,NaN,NaN,NaN,NaN,NaN
13402,NaN,World,2020-04-26,2844712,99968,201315,5929,364.950,12.825,25.827,0.761,NaN,NaN,NaN,NaN,NaN

In [92]:
import pygal
from pygal.style import Style
custom_style = Style(
  background='transparent',
  plot_background='transparent',colors=('#F7F7F7', '#E8537A', '#E95355', '#E87653', '#E89B53'))
def plot_date_graph(df,start_date,end_date,date_title,y_name,show_dots,path):
    daterange = pd.date_range(start_date, end_date)
    dates=[]
    cases=[]
    for single_date in daterange:
        d=single_date.strftime("%Y-%m-%d")
        dates.append(d)
        temp=df[df[date_title]==d]
        case=temp[y_name].values[0]
        cases.append(case)
    line_chart = pygal.Line(show_legend=False,show_y_labels=False,show_x_labels=False,style=custom_style)
    line_chart.add('Cases',cases, show_dots=show_dots)
    line_chart.render_to_file('static/'+path)

In [1]:
import pandas as pd
df=pd.read_csv('stats/raw_data.csv')

In [40]:
tests=[]
cases=[]
states=[]
for state in df.State.unique():
    states.append(state)
    temp=df[df['State']==state]
    if temp.tail(1).isnull().values[0][2]:
        temp = temp.iloc[-2]
    else:
        temp=temp.iloc[-1]
    tests.append(temp.values[2])
    cases.append(temp.values[3])

In [34]:
temp=df[df['State']=='Delhi']

In [36]:
import numpy as np
temp.iloc[-1].values[2]==np.nan
temp.isnull().values.any()

True

In [35]:
temp.tail(1)

,Updated On,State,Total Tested,Positive,Negative,Unconfirmed,Total People In Quarantine,Total People Released From Quarantine,Num Isolation Beds,Num ICU Beds,Num Ventilators,Num Calls State Helpline,Source,Source2,Test positivity rate,Tests per thousand,Tests per million,Population (Source: UIDAI),1000,1000000
134,27/04/2020,Delhi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
import pygal
radar_chart = pygal.Radar()
radar_chart.title = 'Statewise test'
radar_chart.x_labels = states
radar_chart.add('Tests', tests)
radar_chart.add('Cases', cases)
radar_chart.render_to_file('re.svg')

In [42]:
com=[states,tests,cases]

In [47]:
com[1],com[0]

([2679.0,
  74551.0,
  nan,
  7823.0,
  18369.0,
  756.0,
  13786.0,
  37613.0,
  nan,
  51091.0,
  22243.0,
  4901.0,
  13959.0,
  7806.0,
  42964.0,
  22954.0,
  nan,
  38708.0,
  115147.0,
  1169.0,
  nan,
  613.0,
  25103.0,
  1977.0,
  14317.0,
  82942.0,
  87605.0,
  14962.0,
  3215.0,
  61799.0,
  5194.0,
  10893.0],
 ['Andaman and Nicobar Islands',
  'Andhra Pradesh',
  'Arunachal Pradesh',
  'Assam',
  'Bihar',
  'Chandigarh',
  'Chhattisgarh',
  'Delhi',
  'Goa',
  'Gujarat',
  'Haryana',
  'Himachal Pradesh',
  'Jammu and Kashmir',
  'Jharkhand',
  'Karnataka',
  'Kerala',
  'Ladakh',
  'Madhya Pradesh',
  'Maharashtra',
  'Meghalaya',
  'Mizoram',
  'Nagaland',
  'Odisha',
  'Puducherry',
  'Punjab',
  'Rajasthan',
  'Tamil Nadu',
  'Telangana',
  'Tripura',
  'Uttar Pradesh',
  'Uttarakhand',
  'West Bengal'])

In [4]:
df.Gender.value_counts().values[0]

3547

In [6]:
world_cases.iso_code.unique()

array(['ABW', 'AFG', 'AGO', 'AIA', 'ALB', 'AND', 'ARE', 'ARG', 'ARM',
       'ATG', 'AUS', 'AUT', 'AZE', 'BDI', 'BEL', 'BEN', 'BES', 'BFA',
       'BGD', 'BGR', 'BHR', 'BHS', 'BIH', 'BLR', 'BLZ', 'BMU', 'BOL',
       'BRA', 'BRB', 'BRN', 'BTN', 'BWA', 'CAF', 'CAN', 'CHE', 'CHL',
       'CHN', 'CIV', 'CMR', 'COD', 'COG', 'COL', 'CPV', 'CRI', 'CUB',
       'CUW', 'CYM', 'CYP', 'CZE', 'DEU', 'DJI', 'DMA', 'DNK', 'DOM',
       'DZA', 'ECU', 'EGY', 'ERI', 'ESH', 'ESP', 'EST', 'ETH', 'FIN',
       'FJI', 'FLK', 'FRA', 'FRO', 'GAB', 'GBR', 'GEO', 'GGY', 'GHA',
       'GIB', 'GIN', 'GMB', 'GNB', 'GNQ', 'GRC', 'GRD', 'GRL', 'GTM',
       'GUM', 'GUY', 'HKG', 'HND', 'HRV', 'HTI', 'HUN', 'IDN', 'IMN',
       'IND', 'IRL', 'IRN', 'IRQ', 'ISL', 'ISR', 'ITA', 'JAM', 'JEY',
       'JOR', 'JPN', 'KAZ', 'KEN', 'KGZ', 'KHM', 'KNA', 'KOR', 'KWT',
       'LAO', 'LBN', 'LBR', 'LBY', 'LCA', 'LIE', 'LKA', 'LTU', 'LUX',
       'LVA', 'MAR', 'MCO', 'MDA', 'MDG', 'MDV', 'MEX', 'MKD', 'MLI',
       'MLT', 'MMR', 'MNE', 'MNG', 'MNP', 'MOZ', 'MRT', 'MSR', 'MUS',
       'MWI', 'MYS', 'NAM', 'NCL', 'NER', 'NGA', 'NIC', 'NLD', 'NOR',
       'NPL', 'NZL', 'OMN', 'PAK', 'PAN', 'PER', 'PHL', 'PNG', 'POL',
       'PRI', 'PRT', 'PRY', 'PSE', 'PYF', 'QAT', 'RKS', 'ROU', 'RUS',
       'RWA', 'SAU', 'SDN', 'SEN', 'SGP', 'SLE', 'SLV', 'SMR', 'SOM',
       'SRB', 'SSD', 'STP', 'SUR', 'SVK', 'SVN', 'SWE', 'SWZ', 'SXM',
       'SYC', 'SYR', 'TCA', 'TCD', 'TGO', 'THA', 'TLS', 'TTO', 'TUN',
       'TUR', 'TWN', 'TZA', 'UGA', 'UKR', 'URY', 'USA', 'UZB', 'VAT',
       'VCT', 'VEN', 'VGB', 'VIR', 'VNM', 'YEM', 'ZAF', 'ZMB', 'ZWE', nan],
      dtype=object)

In [32]:
iso=world_cases[world_cases['iso_code']=='IND'].iloc[-1]

In [33]:
iso

iso_code                               IND
location                             India
date                            2020-04-27
total_cases                          27892
new_cases                             1396
total_deaths                           872
new_deaths                              48
total_cases_per_million             20.212
new_cases_per_million                1.012
total_deaths_per_million             0.632
new_deaths_per_million               0.035
total_tests                         665819
new_tests                            40510
total_tests_per_thousand             0.481
new_tests_per_thousand               0.029
tests_units                 samples tested
Name: 5953, dtype: object

In [16]:
from iso3166 import countries

In [20]:
countries.get(iso).alpha2

'IN'

In [35]:
world_dict={}
df=world_cases
for c in countries:
    try:
        world_dict[str(c.alpha2).lower()]=df[df['iso_code'] ==str(c.alpha3).upper()].iloc[-1][3]
    except:
        world_dict[str(c.alpha2).lower()]=0

In [36]:
world_dict

{'af': 1531,
 'ax': 0,
 'al': 726,
 'dz': 3382,
 'as': 0,
 'ad': 740,
 'ao': 26,
 'ai': 3,
 'aq': 0,
 'ag': 24,
 'ar': 3767,
 'am': 1808,
 'aw': 100,
 'au': 6713,
 'at': 15189,
 'az': 1645,
 'bs': 80,
 'bh': 2647,
 'bd': 5416,
 'bb': 79,
 'by': 10463,
 'be': 46134,
 'bz': 18,
 'bj': 64,
 'bm': 109,
 'bt': 7,
 'bo': 950,
 'bq': 6,
 'ba': 1516,
 'bw': 22,
 'bv': 0,
 'br': 61888,
 'io': 0,
 'bn': 138,
 'bg': 1300,
 'bf': 632,
 'bi': 15,
 'kh': 122,
 'cm': 1621,
 'ca': 46884,
 'cv': 106,
 'ky': 70,
 'cf': 19,
 'td': 46,
 'cl': 13331,
 'cn': 84199,
 'cx': 0,
 'cc': 0,
 'co': 5379,
 'km': 0,
 'cg': 200,
 'cd': 459,
 'ck': 0,
 'cr': 695,
 'ci': 1150,
 'hr': 2030,
 'cu': 1369,
 'cw': 16,
 'cy': 817,
 'cz': 7404,
 'dk': 8575,
 'dj': 1023,
 'dm': 16,
 'do': 6135,
 'ec': 22719,
 'eg': 4319,
 'sv': 298,
 'gq': 258,
 'er': 39,
 'ee': 1643,
 'et': 123,
 'fk': 13,
 'fo': 187,
 'fj': 18,
 'fi': 4576,
 'fr': 124575,
 'gf': 0,
 'pf': 57,
 'tf': 0,
 'ga': 176,
 'gm': 10,
 'ge': 486,
 'de': 155193,
 'gh': 1550,
 'gi': 141,
 'gr': 2506,
 'gl': 11,
 'gd': 18,
 'gp': 0,
 'gu': 142,
 'gt': 500,
 'gg': 247,
 'gn': 1094,
 'gw': 53,
 'gy': 74,
 'ht': 72,
 'hm': 0,
 'va': 9,
 'hn': 661,
 'hk': 0,
 'hu': 2583,
 'is': 1792,
 'in': 27892,
 'id': 8882,
 'ir': 90481,
 'iq': 1820,
 'ie': 19262,
 'im': 308,
 'il': 15398,
 'it': 197675,
 'jm': 350,
 'jp': 13385,
 'je': 281,
 'jo': 447,
 'kz': 2717,
 'ke': 355,
 'ki': 0,
 'kp': 0,
 'kr': 10738,
 'xk': 0,
 'kw': 3075,
 'kg': 695,
 'la': 19,
 'lv': 812,
 'lb': 707,
 'ls': 0,
 'lr': 124,
 'ly': 61,
 'li': 83,
 'lt': 1449,
 'lu': 3723,
 'mo': 0,
 'mk': 1386,
 'mg': 124,
 'mw': 34,
 'my': 5780,
 'mv': 214,
 'ml': 389,
 'mt': 448,
 'mh': 0,
 'mq': 0,
 'mr': 7,
 'mu': 332,
 'yt': 0,
 'mx': 14677,
 'fm': 0,
 'md': 3408,
 'mc': 94,
 'mn': 38,
 'me': 321,
 'ms': 11,
 'ma': 4065,
 'mz': 76,
 'mm': 146,
 'na': 16,
 'nr': 0,
 'np': 52,
 'nl': 37845,
 'nc': 18,
 'nz': 1122,
 'ni': 13,
 'ne': 696,
 'ng': 1273,
 'nu': 0,
 'nf': 0,
 'mp': 14,
 'no': 7505,
 'om': 1998,
 'pk': 13328,
 'pw': 0,
 'ps': 495,
 'pa': 5779,
 'pg': 8,
 'py': 228,
 'pe': 27517,
 'ph': 7579,
 'pn': 0,
 'pl': 11617,
 'pt': 23864,
 'pr': 1416,
 'qa': 10287,
 're': 0,
 'ro': 11036,
 'ru': 80949,
 'rw': 191,
 'bl': 0,
 'sh': 0,
 'kn': 15,
 'lc': 15,
 'mf': 0,
 'pm': 0,
 'vc': 14,
 'ws': 0,
 'sm': 538,
 'st': 8,
 'sa': 17522,
 'sn': 671,
 'rs': 8042,
 'sc': 11,
 'sl': 93,
 'sg': 13624,
 'sx': 74,
 'sk': 1379,
 'si': 1407,
 'sb': 0,
 'so': 436,
 'za': 4546,
 'gs': 0,
 'ss': 6,
 'es': 210895,
 'lk': 523,
 'sd': 237,
 'sr': 10,
 'sj': 0,
 'sz': 59,
 'se': 18640,
 'ch': 28978,
 'sy': 43,
 'tw': 429,
 'tj': 0,
 'tz': 300,
 'th': 2922,
 'tl': 24,
 'tg': 98,
 'tk': 0,
 'to': 0,
 'tt': 116,
 'tn': 949,
 'tr': 110130,
 'tm': 0,
 'tc': 11,
 'tv': 0,
 'ug': 79,
 'ua': 9009,
 'ae': 10349,
 'gb': 152840,
 'us': 965910,
 'um': 0,
 'uy': 606,
 'uz': 1887,
 'vu': 0,
 've': 325,
 'vn': 270,
 'vg': 6,
 'vi': 55,
 'wf': 0,
 'eh': 6,
 'ye': 1,
 'zm': 88,
 'zw': 31}

In [66]:
import pandas as pd
df=pd.read_csv('stats/gujarat.csv')

In [28]:
df.columns.values

array(['Patient Number', 'State Patient Number', 'Date Announced',
       'Estimated Onset Date', 'Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State', 'State code',
       'Current Status', 'Notes',
       'Contracted from which Patient (Suspected)', 'Nationality',
       'Type of transmission', 'Status Change Date', 'Source_1',
       'Source_2', 'Source_3', 'Backup Notes'], dtype=object)

In [32]:
df['Detected District'].value_counts()[:10]

2181

In [60]:
line_chart = pygal.Bar()
line_chart.title = 'Browser usage in February 2012 (in %)'
for i in range(len(df['Detected District'].value_counts()[:10])):
     line_chart.add(l.index[i],l[i])
line_chart.render_to_file('temp.svg')

In [18]:
df['Type of transmission'].unique()

array(['Imported', 'TBD', 'Local', nan], dtype=object)

In [26]:
import pygal
from pygal.style import Style
custom_style = Style(
  background='static/guj.png',
  plot_background='static/guj.png',
  foreground='#53E89B',
  foreground_strong='#53A0E8',
  foreground_subtle='#630C0D',
  opacity='.6',
  opacity_hover='.9',
  transition='400ms ease-in',
  colors=('#E853A0', '#E8537A', '#E95355', '#E87653', '#E89B53'))

chart = pygal.StackedLine(fill=True, interpolate='cubic', style=custom_style)
chart.add('A', [1, 3,  5, 16, 13, 3,  7])
chart.add('B', [5, 2,  3,  2,  5, 7, 17])
chart.add('C', [6, 10, 9,  7,  3, 1,  0])
chart.add('D', [2,  3, 5,  9, 12, 9,  5])
chart.add('E', [7,  4, 2,  1,  2, 10, 0])
chart.render_to_file('temp.svg')

In [57]:
l=df['Detected District'].value_counts()[:10]

In [65]:
df['Date Announced'].value_counts()

19/04/2020    367
18/04/2020    277
25/04/2020    256
21/04/2020    239
26/04/2020    230
22/04/2020    229
23/04/2020    217
20/04/2020    196
24/04/2020    191
17/04/2020    170
16/04/2020    163
10/04/2020    116
15/04/2020    116
11/04/2020     90
14/04/2020     78
09/04/2020     76
13/04/2020     56
12/04/2020     48
07/04/2020     29
05/04/2020     20
06/04/2020     18
01/04/2020     13
04/04/2020     13
23/03/2020     12
08/04/2020     11
28/03/2020      8
29/03/2020      8
30/03/2020      7
21/03/2020      7
03/04/2020      7
24/03/2020      6
26/03/2020      6
20/03/2020      5
31/03/2020      4
22/03/2020      4
27/03/2020      3
19/03/2020      2
25/03/2020      2
02/04/2020      1
Name: Date Announced, dtype: int64

In [68]:
import pandas as pd
df=pd.read_csv('stats/state_wise_daily.csv')

In [75]:
df.iloc[-1].values[0]

'28-Apr-20'

In [76]:
daterange = pd.date_range(df.Date[0], df.iloc[-1].values[0])

In [77]:
daterange

DatetimeIndex(['2020-03-14', '2020-03-15', '2020-03-16', '2020-03-17',
               '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-21',
               '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
               '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29',
               '2020-03-30', '2020-03-31', '2020-04-01', '2020-04-02',
               '2020-04-03', '2020-04-04', '2020-04-05', '2020-04-06',
               '2020-04-07', '2020-04-08', '2020-04-09', '2020-04-10',
               '2020-04-11', '2020-04-12', '2020-04-13', '2020-04-14',
               '2020-04-15', '2020-04-16', '2020-04-17', '2020-04-18',
               '2020-04-19', '2020-04-20', '2020-04-21', '2020-04-22',
               '2020-04-23', '2020-04-24', '2020-04-25', '2020-04-26',
               '2020-04-27', '2020-04-28'],
              dtype='datetime64[ns]', freq='D')

In [89]:
df.head()

,Date,Status,TT,AN,AP,AR,AS,BR,CH,CT,...,PY,PB,RJ,SK,TN,TG,TR,UP,UT,WB
0,14-Mar-20,Confirmed,81,0,1,0,0,0,0,0,...,0,1,3,0,1,1,0,12,0,0
1,14-Mar-20,Recovered,9,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,4,0,0
2,14-Mar-20,Deceased,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,15-Mar-20,Confirmed,27,0,0,0,0,0,0,0,...,0,0,1,0,0,2,0,1,0,0
4,15-Mar-20,Recovered,4,0,0,0,0,0,0,0,...,0,0,2,0,0,1,0,0,0,0

In [95]:
df.Date.values

array(['14-Mar-20', '14-Mar-20', '14-Mar-20', '15-Mar-20', '15-Mar-20',
       '15-Mar-20', '16-Mar-20', '16-Mar-20', '16-Mar-20', '17-Mar-20',
       '17-Mar-20', '17-Mar-20', '18-Mar-20', '18-Mar-20', '18-Mar-20',
       '19-Mar-20', '19-Mar-20', '19-Mar-20', '20-Mar-20', '20-Mar-20',
       '20-Mar-20', '21-Mar-20', '21-Mar-20', '21-Mar-20', '22-Mar-20',
       '22-Mar-20', '22-Mar-20', '23-Mar-20', '23-Mar-20', '23-Mar-20',
       '24-Mar-20', '24-Mar-20', '24-Mar-20', '25-Mar-20', '25-Mar-20',
       '25-Mar-20', '26-Mar-20', '26-Mar-20', '26-Mar-20', '27-Mar-20',
       '27-Mar-20', '27-Mar-20', '28-Mar-20', '28-Mar-20', '28-Mar-20',
       '29-Mar-20', '29-Mar-20', '29-Mar-20', '30-Mar-20', '30-Mar-20',
       '30-Mar-20', '31-Mar-20', '31-Mar-20', '31-Mar-20', '01-Apr-20',
       '01-Apr-20', '01-Apr-20', '02-Apr-20', '02-Apr-20', '02-Apr-20',
       '03-Apr-20', '03-Apr-20', '03-Apr-20', '04-Apr-20', '04-Apr-20',
       '04-Apr-20', '05-Apr-20', '05-Apr-20', '05-Apr-20', '06-Apr-20',
       '06-Apr-20', '06-Apr-20', '07-Apr-20', '07-Apr-20', '07-Apr-20',
       '08-Apr-20', '08-Apr-20', '08-Apr-20', '09-Apr-20', '09-Apr-20',
       '09-Apr-20', '10-Apr-20', '10-Apr-20', '10-Apr-20', '11-Apr-20',
       '11-Apr-20', '11-Apr-20', '12-Apr-20', '12-Apr-20', '12-Apr-20',
       '13-Apr-20', '13-Apr-20', '13-Apr-20', '14-Apr-20', '14-Apr-20',
       '14-Apr-20', '15-Apr-20', '15-Apr-20', '15-Apr-20', '16-Apr-20',
       '16-Apr-20', '16-Apr-20', '17-Apr-20', '17-Apr-20', '17-Apr-20',
       '18-Apr-20', '18-Apr-20', '18-Apr-20', '19-Apr-20', '19-Apr-20',
       '19-Apr-20', '20-Apr-20', '20-Apr-20', '20-Apr-20', '21-Apr-20',
       '21-Apr-20', '21-Apr-20', '22-Apr-20', '22-Apr-20', '22-Apr-20',
       '23-Apr-20', '23-Apr-20', '23-Apr-20', '24-Apr-20', '24-Apr-20',
       '24-Apr-20', '25-Apr-20', '25-Apr-20', '25-Apr-20', '26-Apr-20',
       '26-Apr-20', '26-Apr-20', '27-Apr-20', '27-Apr-20', '27-Apr-20',
       '28-Apr-20', '28-Apr-20', '28-Apr-20'], dtype=object)

In [105]:
df[df['Date']==daterange[20].strftime("%d-%b-%y")]['GJ'].values[0]

7

In [118]:
df.columns

Index(['Date', 'Status', 'TT', 'AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DN',
       'DD', 'DL', 'GA', 'GJ', 'HR', 'HP', 'JK', 'JH', 'KA', 'KL', 'LA', 'LD',
       'MP', 'MH', 'MN', 'ML', 'MZ', 'NL', 'OR', 'PY', 'PB', 'RJ', 'SK', 'TN',
       'TG', 'TR', 'UP', 'UT', 'WB'],
      dtype='object')

In [106]:
dates = []
cases = []
recovered=[]
deaths =  []
state='GJ'
for single_date in daterange:
    d = single_date.strftime("%d-%b-%y")
    dates.append(d)
    temp = df[df['Date'] == d]
    case = temp[state].values[0]
    death = temp[state].values[0]
    rec=temp[state].values[0]
    cases.append(case)
    deaths.append(death)
    recovered.append(rec)

In [121]:
line_chart1 = pygal.Line()
line_chart2 = pygal.Line()
line_chart3 = pygal.Line()
line_chart3.title = 'Recovered'
line_chart2.title = 'Deaths'
line_chart1.title = 'Cases'
line_chart4=pygal.Line(fill=True)
line_chart1.title = 'Gujarat COVID-19'
ttt=pd.read_csv('stats/state_wise.csv')
for i in range(len(df.columns)-3):
    dates = []
    cases = []
    recovered=[]
    deaths =  []
    state=df.columns[3+i]
    for single_date in daterange:
        d = single_date.strftime("%d-%b-%y")
        dates.append(d)
        temp = df[df['Date'] == d]
        case = temp[state].values[0]
        death = temp[state].values[0]
        rec=temp[state].values[0]
        cases.append(case)
        deaths.append(death)
        recovered.append(rec)
    line_chart3.add(ttt[ttt['State_code']==state]['State'].values[0],recovered,dots_size=1)
    line_chart2.add(state,deaths,dots_size=1)
    line_chart1.add(state,cases,dots_size=1)
    if(state=='GJ'):
        line_chart4.add("Cases",cases)
        line_chart4.add("Cases",recovered)
        line_chart4.add("Cases",deaths)
line_chart1.render_to_file('tem1.svg')
line_chart2.render_to_file('tem2.svg')
line_chart3.render_to_file('tem3.svg')
line_chart4.render_to_file(paths['guj2'])

In [157]:
ttt=pd.read_csv('stats/state_wise_daily.csv')

In [165]:
ttt['GJ'].tail(3).values[0]

226

In [162]:
ttt.head()

,Date,Status,TT,AN,AP,AR,AS,BR,CH,CT,...,PY,PB,RJ,SK,TN,TG,TR,UP,UT,WB
0,14-Mar-20,Confirmed,81,0,1,0,0,0,0,0,...,0,1,3,0,1,1,0,12,0,0
1,14-Mar-20,Recovered,9,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,4,0,0
2,14-Mar-20,Deceased,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,15-Mar-20,Confirmed,27,0,0,0,0,0,0,0,...,0,0,1,0,0,2,0,1,0,0
4,15-Mar-20,Recovered,4,0,0,0,0,0,0,0,...,0,0,2,0,0,1,0,0,0,0

In [179]:
df=pd.read_csv('stats/raw_data.csv')

In [185]:
df['Type of transmission'].unique()

array(['Imported', 'Local', 'TBD', nan, 'Imported ', 'Unknown'],
      dtype=object)

In [180]:
t=df['Type of transmission'].value_counts()

In [181]:
pie_chart = pygal.Pie()
pie_chart.title = 'Browser usage in February 2012 (in %)'
pie_chart.add(t.index[0],t[0])
pie_chart.add(t.index[1],t[1])
pie_chart.add(t.index[2],t[2])
pie_chart.render_to_file('tem1.svg')

In [186]:
t.index

Index(['Local', 'TBD', 'Imported', 'Imported ', 'Unknown'], dtype='object')

In [167]:
data

{'total': 3774,
 'recovered': 434,
 'deaths': 181,
 'active': 3159,
 'newtot': 226,
 'newrec': 40,
 'newdeath': 19}